body {
	font-family: sans-serif;
	color:#555555;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: #555555;
	font-weight: bold;
}

a:hover {
	color:red;
}

p {
	margin: 8px;
}

h4 {
	margin: 10px 0px;
}

.container{
	width: 75%;
	margin: auto;
}

#transcript{
	float: left;
	width: 60%;
	padding: 10px;
	box-sizing: border-box;
	overflow: scroll;
}

#results{

	float: left;
	width: 40%;
	padding: 10px
	box-sizing: border-box;
}

.button {
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	font-size: 16;
}

.button:hover {
	background:red;
	color:white;
}
