<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>NeuralBlock</title>
</head>

<body>
	<header id="main-header"><h1>NeuralBlock: An In-Video YouTube Sponsor Detector</h1></header>
	<div class="container">
		<h2>Welcome!</h2>
		This is the project page for NeuralBlock (NB), a neural network built using Keras/Tensorflow that detects in-video YouTube sponsorships. You can find the project on <a href="https://github.com/andrewzlee/NeuralBlock" target="_blank">Github</a>. Additionally, this web application provides an API to <a href="https://github.com/ajayyy/SponsorBlock">SponsorBlock</a>, whom supplied the crowd-sourced sponsor labels needed to train NB.
		<hr>
		<div class="left-panel">
			<h4>Demo</h4>
			Submit a video ID and see where the sponsorships are. For true predictions, submit videos published after March 3, 2020. Videos without English captions currently cannot be proccessed.<br><br>
			Sample: https://www.youtube.com/watch?v=<strong>QqEuO5im1nA</strong>
		</div>

		<div class="right-panel">
			<h4>Examples</h4>
			<table>
				<tr><th>Half As Interesting</th><th>QqEuO5im1nA</th></tr>
				<tr><th>Linus Tech Tips</th><th>B821HqH-dWI</th></tr>
				<tr><th>Domo Wilson</th><th>V1YMJGuYPnA</th></tr>
				<tr><th>Mentour Pilot</th><th>g1rpVMKz2S0</th></tr>
				<tr><th>MrBeast (No Sponsorship)</th><th>HBMmK1c44sE</th></tr>

			</table>
		</div>
		<div class="bottom-panel">
			<form action="{{ url_for('predict') }}" method="POST">
				<label id="input-label" for="vid">Video ID:</label>
				<input type="text" name="vid">
				<input class="button" type="submit" value="Submit">
			</form>
		</div>
		<footer>
			This project was created by <a href="https://andrew.neuralblock.app">Andrew Lee</a>. <br>
			If you have any questions, suggestions, or comments
			email me at <strong>leezandrew @ gmail (dot) com</strong>.<br>
			Special thanks to <a href="https://github.com/Joe-Dowd" target="_blank">Joe Dowd</a> for his help in setting up the backend.
		<footer>
	</div>
</body>
</html>
