<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>NeuralBlock</title>
</head>

<body>
	<header id="main-header"><h1>NeuralBlock</h1></header>
	<div class="container">
		<a href="/">Return</a>
		<br>
		<div id="transcript">
			<h4>Transcript for {{ videoid }}</h4>
			<ol>
				{% for caps in transcript_text %}
					<li>[{{caps["start"]|round|int}},{{(caps["start"]+caps["duration"])|round|int}}] {{caps["text"]}}</li>
				{% endfor %}
			</ol>
			<!--{{ transcript_text }} -->
		</div>
		<div id="results">
			<h4>Predicted Timestamps:</h4>
			<ul>
					<li>Seconds: {{ timestamp }}</li>
					<li>Minutes: {{ minutestamp }}</li>
			</ul>

			<h4>Predicted Text</h4>
			<ul>
				{% for para in sponsTexts %}
					<li>{{para}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</body>
</html>
